<!DOCTYPE html>
<html lang="{{ site.lang | default: 'sr' }}">
  <head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    
    {% if post.title == "" %}
      <title>{{site.title | upcase}}</title>
    {% else %}    
      <title>{{page.title | upcase}} - {{site.title | upcase}}</title>
    {% endif %}
    {% if page.description %}
      <meta name="description" content="{{page.description}}" />
    {% endif %}
    {% if page.keywords %}
      <meta name="keywords" content="{{page.keywords}}" />
    {% endif %}    
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>    
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42249092-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-42249092-1');
  </script>
  </head>

  <body>
    <div class="wrapper">

      <section class="black"></section>
        <h2><a href="{{ '/' | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h2>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <div class="h-ad">
          <!-- SK left -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-1993925204978426"
data-ad-slot="1837700166"
data-ad-format="auto"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
          
        </div>
      </section>
      <section>

      {{ content }}

      </section>
      
    </div>
    
  </body>
</html>
