---
layout: default
---
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- sk_top_resp -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1993925204978426"
     data-ad-slot="2714163561"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<h1>{{ page.title }}</h1>

<!-- <p class="view">by {{ page.author | default: site.author }}</p> -->

{{content}}

{% if page.tags %}
  <small><strong>tagovi:</strong> <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %} ;
{% if page.categories %}
  <small><strong>kategorija:</strong> <em>{{ page.categories | join: "</em> - <em>" }}</em></small>
{% endif %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- sk_bottom_resp -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-1993925204978426"
     data-ad-slot="7910649921"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<footer>        
<small>© Superkuvar 2010-2020</small>
</footer>